@font-face {
  font-family: "OpenSans";
  src: url("./style/fonts/OpenSans/OpenSansHebrew-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("./style/fonts/OpenSans/OpenSansHebrew-Bold.ttf");
  font-weight: bold;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "OpenSans" !important;
  padding: 0;
  direction: rtl;
}

html {
  background-color: #f8fafd;
}

body {
  height: 100%;
  font-family: "OpenSans" !important;
  background-color: #f8fafd;
  overflow-x: scroll;
  padding-top: 100px;
  overflow-x: hidden;
}

.main-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 13px;
  z-index: 1000;
}

.main-content {
  margin-top: 55px;
}

.red {
  background-color: rgb(226, 29, 72);
}

.yellow {
  background-color: rgb(230, 185, 87);
}

.line {
  display: flex;
}

h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

h2 {
  padding: 1rem;
  font-size: 19px;
}

.card-number {
  font-size: 22.4px;
}

.card-text {
  font-size: 12px;
}

.card-number,
.card-small-number {
  font-weight: 700;
  line-height: 1.25;
}

.display-none {
  display: none;
}

.visible {
  display: block;
}

.black-border {
  border: 1px solid black;
}

.border {
  border: 1px solid transparent;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gray-border {
  margin: 25px;
  border-top: solid 1px #d8dde0;
  padding-inline-start: 0;
  padding-top: 7px;
  margin-top: 7px;
}

.margin {
  margin-top: 300px;
}

.line-border {
  width: 96%;
  margin-inline: auto;
  height: 1px;
  background-color: #d8dde0;
}

span {
  font-size: 12px !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #d8dde0;
  width: 90%;
  margin: auto;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
}

.white {
  background-color: white;
  position: absolute;
  z-index: 990;
}

.exclamation-div {
  position: relative; /* Make sure the container is positioned */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(35, 51, 51);
}
.exclamation-div i {
  color: white;
  font-size: 12px;
  text-align: center !important;
}
.exclamation-div .hover-card {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 9999;
  padding: 0.5rem;
  font-weight: 300 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.exclamation-div:hover {
  cursor: pointer;
}
.exclamation-div:hover .hover-card {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  font-size: 12px;
  padding: 8px 0 0;
  list-style-type: none;
}

.hover-icon-show {
  display: flex !important;
  position: relative;
}
.hover-icon-show::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
}
.hover-icon-show::after:hover {
  display: flex !important;
}

.medium-font {
  font-size: 17.8px !important;
}

.vaccination-numbers {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 80%;
  margin-top: 2px;
  font-size: 17.8px !important;
}
.vaccination-numbers .card-text {
  padding: 5px;
  font-size: 12.8px !important;
  margin: 2px;
}

.space-around {
  justify-content: space-around;
}

.margin-number {
  direction: ltr;
  margin: 5px;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.section-header img {
  margin-right: 3px;
  height: 18px; /* Adjust the height as needed */
  width: 16px;
  color: rgb(122, 128, 143);
}
.section-header button {
  margin-right: 10px;
  cursor: pointer;
  padding: 10;
  outline: none;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  min-width: 114px;
  max-width: 130px;
  padding: 4px 12px;
  border: 2px solid rgb(225, 229, 233);
  border-radius: 16px;
}

ul {
  list-style: none;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

/* Styles for the close button */
#close-btn {
  cursor: pointer;
  color: #333;
  font-size: 18px;
  float: right;
}

.header {
  background: white;
  z-index: 9998;
}

.hamburger-button button {
  height: 205px;
  width: 47px;
}

.darkMode-container {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.darkMode-container button[aria-label="theme change to dark"],
.lang-container button[aria-label="language change"],
.hamburger-button {
  border: none;
  color: white;
  cursor: pointer;
}

.page-title {
  font-size: 1.5rem;
  margin-right: 1rem;
  min-width: max-content;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 100px;
}

.loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  height: 3px;
}

.loader .progress-bar {
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  display: block;
  background: linear-gradient(45deg, #35b7a6, #35b7a6, #35b7a6, #d9ff5e);
  height: 2px;
  position: absolute;
}

.small-circle {
  height: 9px;
  width: 9px;
  display: block;
  border-radius: 50%;
  color: transparent;
}

.cards1 {
  display: flex;
  justify-content: start;
  column-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .cards1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  margin: 0px 0px 20px;
  min-height: 184px;
  padding: 1rem;
  box-shadow: rgba(59, 59, 59, 0.2) 0px 0px 15px -3px, rgba(71, 71, 71, 0.05) 0px 4px 6px -2px;
  border-radius: 1rem;
}
@media only screen and (min-width: 768px) {
  .card {
    min-width: 190px;
  }
}

@media only screen and (min-width: 1300px) {
  #part1 .card {
    width: 200px;
    height: 210px;
  }
}

.overview-cards .hover-card {
  display: none;
  max-width: 170px;
  position: absolute;
  background-color: white;
  font-size: 14px;
  z-index: 9999;
  padding: 0.5rem;
}
.overview-cards .hover-card-2 {
  display: none;
  max-width: 170px;
  bottom: 0;
  position: absolute;
  padding: 0.5rem;
  z-index: 9999;
  background-color: white;
  font-size: 14px;
}
.overview-cards .translate {
  transform: translateY(calc(50% + 1rem));
}

.hover-icon-show {
  display: flex !important;
  position: relative;
}
.hover-icon-show::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
}
.hover-icon-show::after:hover {
  display: flex !important;
}

.overview-secondary .hover-card {
  max-width: 260px;
}
.overview-secondary .cards1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 620px) {
  .overview-secondary .cards1 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (min-width: 620px) and (max-width: 768px) {
  .overview-secondary .cards1 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
.overview-secondary .cards2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}
@media screen and (max-width: 1200px) {
  .overview-secondary .cards2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 900px) {
  .overview-secondary .cards2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.overview-secondary .card {
  box-shadow: rgba(170, 170, 170, 0.2) 0px 2px 10px !important;
  display: grid;
  min-height: 144px;
  max-height: 350px;
  padding-inline: auto;
}
@media only screen and (min-width: 768px) {
  .overview-secondary .card {
    min-width: max(max-content, inherit);
  }
}
.overview-secondary .card h1 {
  display: inline-block;
  font-size: 16px !important;
}

.card-header h3 {
  width: max-content;
}

.card-header h3:hover + .hover-card,
.card-header .hover-card:hover {
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
}

.overview-secondary-dark-mode {
  background-color: rgb(75, 97, 112);
}

.dark-card {
  background-color: rgb(55, 79, 96) !important;
  color: white;
  box-shadow: rgba(59, 59, 59, 0.2) 0px 0px 15px -3px, rgba(71, 71, 71, 0.05) 0px 4px 6px -2px;
}

.space {
  display: flex;
  justify-content: space-between;
  width: 97%;
}

#part2,
#part3,
#part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(248, 250, 253);
}

.bg-white {
  background: white !important;
  width: 100%;
  position: relative;
}

#part1-5 .hover-card {
  max-width: 210px !important;
  position: absolute;
  height: fit-content !important;
  z-index: 99999999999999;
}

#part1-5 {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-color: transparent !important;
}
#part1-5 .card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  flex-grow: 1;
}

.empty {
  height: 350px;
  background-color: rgb(255, 255, 255);
}

#part4 .medium-table {
  width: 700px;
}
#part4 .card {
  flex-grow: 1;
}

.header-second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(55, 79, 96);
  position: fixed;
  transform: translateY(-20px);
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  .header-second-part {
    transform: translateY(-5px);
  }
}

.left-container {
  text-align: end;
  width: fit-content;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 14px;
  color: rgb(55, 79, 96);
  margin-right: auto;
}

.nav-contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  height: 100%;
  gap: 1rem;
  padding: 0.75rem;
  scrollbar-width: 2px;
  height: 70px;
}
.nav-contaner::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 1rem;
  border: 3px solid lightgray;
}
.nav-contaner::-webkit-scrollbar {
  /* display: none; */
  height: 10px;
  background-color: white;
}
.nav-contaner div {
  min-width: max-content;
  font-weight: bold;
  font-size: 14px;
}
.nav-contaner .marked-div {
  background-color: rgb(255, 255, 255);
  padding: 6px 20px;
  border-radius: 20px;
  margin: 0 4px;
  color: black;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998; /* Set z-index to be below the modal */
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9990000;
}
@media screen and (min-width: 1024px) {
  .modal {
    right: 15%;
    left: 15%;
  }
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  z-index: 10000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  top: 40px;
  color: black;
  left: 10px;
  width: 36px;
  height: 36px;
}

.button-container {
  display: flex;
  justify-content: flex-end !important;
  width: 100%;
  margin-left: 20px;
}

.button-container-center {
  display: flex;
  justify-content: center !important;
  width: 100%;
  margin-left: 20px;
}

.modal-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 44px;
  margin-top: 75px;
  color: #333;
}

.terms-body {
  text-align: right;
  padding: 0 132px;
}

.line {
  font-size: 18px;
  line-height: 25px;
  text-align: start;
  color: var(--text-basic-color);
  margin-bottom: 20px;
}

.remember-me {
  margin-top: 20px;
}

.checkbox {
  margin-right: 5px;
}

.card-footer {
  position: absolute;
  left: 40px;
  bottom: 10px;
  max-width: 480px;
  z-index: 20000;
}

.terms-list {
  margin: 0 0 40px;
}

#otherButton {
  background-color: #4b6170;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.footer-background {
  background: #cce5e5;
  padding: 120px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  z-index: 10000;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#g-1,
#g-2,
#g-3 {
  margin-block: 1rem;
}

#open-g1-time,
#open-g2-time,
#open-g3-time {
  cursor: pointer;
  padding: 0.5rem;
  text-align: start;
  background: #f7f9fc;
  border: 1px solid lightgray;
  border-radius: 100px;
  font-size: 14px;
  width: fit-content;
  margin-right: 32px;
}

.graph_select .graphs {
  margin-top: 47px;
}

#container {
  height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.nav-list {
  display: none;
  position: absolute;
  list-style: none;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s linear;
  transform: translateX(-100%);
  border-top: 1px solid #d8dde0;
  width: 327px;
  z-index: 999999999999999;
  padding-inline-start: 14px;
}
@media screen and (max-width: 500px) {
  .nav-list {
    width: 100vw;
  }
}
.nav-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-list li {
  padding: 10px;
  padding-inline-start: 7px;
  font-weight: 700;
  cursor: pointer;
  min-height: 40px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  width: 90%;
}
.nav-list a {
  text-decoration: none;
  color: #333;
  padding-inline-start: 7px;
}
.nav-list .covid {
  background-color: rgb(224, 224, 224);
}
.nav-list .home,
.nav-list .home-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}
.nav-list .home-container {
  padding: 10px;
  padding-inline-start: 7px;
  height: 50px;
  width: 95%;
}
.nav-list .close-part {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-list .close-btn-x {
  margin-right: 20px;
}
.nav-list .house {
  height: 20px;
}
.nav-list .x {
  height: 36px;
}

.nav-list-ul {
  margin-top: 10px;
}

.revealed-nav-list {
  display: block;
  transform: translateX(0);
}

.dropdown-load {
  position: absolute;
  background-color: white;
  transform: translateX(100%) translateY(-2rem);
}
.dropdown-load .box {
  display: flex;
  border: 0.1px solid rgba(136, 136, 136, 0.4);
}
.dropdown-load .box:hover {
  background-color: rgba(136, 136, 136, 0.2);
}
.dropdown-load .box div {
  padding: 5px;
}

.overview-cards {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
}
.overview-cards .table-container {
  max-width: 680px;
  position: relative;
}
.overview-cards .table-container {
  direction: ltr;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.overview-cards .table-container th {
  width: max-content;
}
.overview-cards .table-container th td {
  text-align: center;
}
.overview-cards table {
  margin-inline: auto;
  width: 100%;
}
.overview-cards table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  height: 42px;
}
.overview-cards table tr th {
  display: flex;
  align-items: start;
  text-align: center;
}
.overview-cards table tr td {
  text-align: start;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #name,
  .internal-capacity,
  .general-capacity {
    padding-left: 5px;
  }
}
@media screen and (max-width: 900px) and (min-width: 775px) {
  .internal-capacity {
    margin-left: 90px !important;
  }
}
@media screen and (max-width: 775px) and (min-width: 650px) {
  .internal-capacity {
    margin-left: 70px !important;
  }
}

@media screen and (max-width: 900px) and (min-width: 775px) {
  .general-capacity {
    margin-right: 80px !important;
  }
}
@media screen and (max-width: 775px) and (min-width: 650px) {
  .general-capacity {
    margin-right: 20px !important;
  }
}

.table-arrow {
  display: none;
}

.table-arrow-up {
  transform: rotateZ(180deg);
}

.search-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -32px;
  z-index: 9999;
  width: 100%;
  background-color: white;
}
.search-controls * {
  width: 50%;
}

#hospital_select .hospitals,
#country-select .countries,
#settlement-select .settlements,
.graph_select .graphs {
  max-height: 120px;
  overflow-y: scroll;
  background-color: white;
}

.settlements {
  display: flex;
  flex-direction: column;
  padding-right: 0.25rem;
  align-items: flex-start;
}

.settlements span:hover {
  background: lightgray;
}

.settlements span {
  width: 100%;
  text-align: start;
  cursor: pointer;
}

#hospital_select,
#country-select,
#settlement-select,
.graph_select {
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: black;
  font-weight: normal !important;
  top: 100%;
  right: 0.55rem;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
}
#hospital_select *,
#country-select *,
#settlement-select *,
.graph_select * {
  padding-block: 0.15rem;
}

.graph_select {
  position: absolute;
  z-index: 9999;
  top: 52px;
  right: 2rem;
  width: 200px;
}

.option-hospital input[type=checkbox],
.option-country input[type=checkbox],
.option-settlement input[type=checkbox] {
  width: 20px;
  height: 20px;
  display: block;
}

.hide {
  display: none;
}

#search-hospital,
#search-country,
#search-settlement {
  max-height: 30px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.1);
  width: fit-content;
  display: flex;
  justify-content: center !important;
  min-width: 200px;
  text-align: center;
  z-index: 980;
  margin-right: 1rem;
  margin-block: 1rem;
  padding: 0.5rem;
  position: relative;
  border-radius: 100px;
  border: 1px solid lightgray;
}

.search-button-2,
.search-button,
.search-button-3 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0px !important;
}

.option-hospital,
.option-country,
.option-settlement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress {
  width: 40%;
  max-width: 50px;
  height: 10px;
  background-color: rgb(228, 230, 253);
  margin-block: 0.5rem;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.progress-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.progress-cell span {
  font-weight: bold;
}

.red {
  background-color: rgb(226, 29, 72);
}

.blue {
  background-color: rgb(0, 123, 255);
}

.table-header {
  background-color: rgb(190, 204, 219);
  width: 100%;
  height: 50px;
  height: max-content;
  cursor: pointer;
  font-weight: bold;
}
.table-header th {
  width: 10px;
}

#tableBody tr {
  height: 42px;
  border-top: 0.1px dashed rgba(128, 128, 128, 0.3);
  border-bottom: 0.1px dashed rgba(128, 128, 128, 0.3);
}

#tableBody tr:hover {
  background-color: #f2f2f2;
}

.date-updated {
  display: block;
  font-size: 10px;
  padding: 3px;
  background-color: rgba(190, 204, 219, 0.4);
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-button {
  display: flex;
  align-items: center;
}
.search-button ::clicked {
  background-color: red;
}

.search-button-clicked img {
  rotate: 180deg;
}

.search-controls {
  width: 90%;
}
.search-controls button {
  background-color: rgb(190, 204, 219);
  border: transparent;
  padding: 5px;
  height: 30px;
}

.dot-button {
  width: 30px;
}

.tables {
  background-color: rgb(244, 246, 249);
  border: 3px dashed rgba(128, 128, 128, 0.3); /* Setting initial border */
  border: unset !important; /* Unsetting the border with !important */
}

.table-container {
  overflow-x: hidden;
}

#myTable {
  margin-top: 20px;
}

#tableBody1 td {
  padding-block: 10px;
}

#tableBody1 td,
#header-disease-abroud {
  height: fit-content;
  text-align: center;
}

#header-disease-abroud {
  padding-inline-end: 0;
}

td,
th {
  font-weight: normal !important;
  padding-inline: 0 !important;
  margin-inline: 0 !important;
}
td td,
th td {
  display: flex !important;
  justify-content: center !important;
  text-align: end;
  align-items: center !important;
  width: max-content;
}

#header-disease-abroud td {
  text-align: center !important;
  padding-inline: 0 !important;
  text-align: end;
  width: 100%;
  display: flex;
}
#header-disease-abroud td span {
  padding-inline: 0 !important;
  text-align: center !important;
  width: fit-content;
}
@media only screen and (max-width: 620px) {
  #header-disease-abroud td span {
    transform: translateX(-1.25rem);
  }
}
@media only screen and (min-width: 620px) and (max-width: 900px) {
  #header-disease-abroud td span {
    transform: translateX(-2rem);
  }
}

#tableBody1 tr,
#header-disease-abroud td {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  align-items: start;
  padding-inline: 0;
  margin-inline: 0;
}

.gray {
  background-color: rgb(210, 220, 230) !important;
}

.custom-arrow {
  vertical-align: middle;
}

.areas-colors {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  margin-right: 8px;
}
.areas-colors img {
  height: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

.large-card {
  width: 500px !important;
  margin-left: 20px;
  height: 450px;
}

.color-text {
  display: flex;
  flex-direction: column;
}

.traffic-light-colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.traffic-light-colors .small-letters {
  font-size: 10px;
}
.traffic-light-colors .medium-letters {
  font-size: 13px;
}
.traffic-light-colors img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
