.nav-list {
  display: none;
  position: absolute;
  list-style: none;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s linear;
  transform: translateX(-100%);
  border-top: 1px solid #d8dde0;
  width: 327px;
  z-index: 999999999999999;
  padding-inline-start: 14px;
  @media screen and (max-width: 500px) {
    width: 100vw;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li {
    padding: 10px;
    padding-inline-start: 7px;
    font-weight: 700;
    // font-size: 14px;
    // font-weight: 1100;
    cursor: pointer;
    min-height: 40px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 90%;
  }

  a {
    text-decoration: none;
    color: #333;
    padding-inline-start: 7px;
  }

  .covid {
    background-color: rgb(224, 224, 224);
  }

  .home,
  .home-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 10px;
  }

  .home-container {
    padding: 10px;
    padding-inline-start: 7px;
    height: 50px;
    width: 95%;
  }

  .close-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .close-btn-x {
    margin-right: 20px;
  }

  .house {
    height: 20px;
  }
  .x {
    height: 36px;
    // color: rgb(55, 79, 96);
  }
}

.nav-list-ul {
  margin-top: 10px;
}
.revealed-nav-list {
  display: block;
  transform: translateX(0);
}
.dropdown-load {
  // display: none;
  position: absolute;
  background-color: white;
  // left: 10px;

  .box {
    display: flex;
    border: 0.1px solid rgba(136, 136, 136, 0.4);
    // background-color: rgba(136, 136, 136, 0.1);
    &:hover {
      background-color: rgba(136, 136, 136, 0.2);
    }
    div {
      padding: 5px;
    }
  }
}
