@font-face {
  font-family: "OpenSans";
  src: url("./style/fonts/OpenSans/OpenSansHebrew-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("./style/fonts/OpenSans/OpenSansHebrew-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "OpenSans" !important;
  padding: 0;
  direction: rtl;
}

html {
  background-color: #f8fafd;
}
body {
  height: 100%;
  font-family: "OpenSans" !important;
  // background: #f8fafd;
  background-color: #f8fafd;
  overflow-x: scroll;
  padding-top: 100px;
  overflow-x: hidden;
}
.main-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px 13px;
  z-index: 1000;
}

.main-content {
  margin-top: 55px;
}

.red {
  background-color: rgb(226, 29, 72);
}

.yellow {
  background-color: rgb(230, 185, 87);
}
.line {
  display: flex;
}

h3 {
  // line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 600;
}

h2 {
  padding: 1rem;
  font-size: 19px;
}
.card-number {
  font-size: 22.4px;
}

.card-text {
  font-size: 12px;
}

.card-number,
.card-small-number {
  font-weight: 700;
  line-height: 1.25;
}

.display-none {
  display: none;
}

.visible {
  display: block;
}

.black-border {
  border: 1px solid black;
}

.border {
  border: 1px solid transparent;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.gray-border {
  margin: 25px;
  border-top: solid 1px #d8dde0;
  padding-inline-start: 0;
  padding-top: 7px;
  margin-top: 7px;
}

.margin {
  margin-top: 300px;
}
.line-border {
  width: 96%;
  margin-inline: auto;
  height: 1px;
  background-color: #d8dde0;
}

span {
  font-size: 12px !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #d8dde0;
  width: 90%;
  margin: auto;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
}

.white {
  background-color: white;
  position: absolute;
  z-index: 990;
}

.exclamation-div {
  position: relative; /* Make sure the container is positioned */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(35, 51, 51);

  i {
    color: white;
    font-size: 12px;
    text-align: center !important;
  }

  .hover-card {
    display: none;
    position: absolute;
    background-color: white;
    // font-size: 14px;
    z-index: 9999;
    padding: 0.5rem;
    font-weight: 300 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  &:hover {
    cursor: pointer;

    .hover-card {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 180px;
      font-size: 12px;
      padding: 8px 0 0;
      list-style-type: none;
    }
  }
}

.hover-icon-show {
  display: flex !important;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    &:hover {
      display: flex !important;
    }
  }
}

.medium-font {
  font-size: 17.8px !important;
}

.vaccination-numbers {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 2px;
  width: 80%;
  margin-top: 2px;
  font-size: 17.8px !important;
  .card-text {
    padding: 5px;
    font-size: 12.8px !important;
    margin: 2px;
  }
}

.space-around {
  justify-content: space-around;
}

.margin-number {
  direction: ltr;
  margin: 5px;
}
.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  img {
    margin-right: 3px;
    height: 18px; /* Adjust the height as needed */
    width: 16px;
    color: rgb(122, 128, 143);
  }
  button {
    margin-right: 10px;
    cursor: pointer;
    padding: 10;
    outline: none;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    min-width: 114px;
    max-width: 130px;
    padding: 4px 12px;
    border: 2px solid rgb(225, 229, 233);
    border-radius: 16px;
  }
}

ul {
  list-style: none;
}

.medium {
  height: 440px !important;
  max-height: 440px !important;
}
