.header {
  background: white;
  z-index: 9998;
  // width: 100vh;
  // height: fit-content;
  // display: flex;
  // flex-wrap: wrap;
}

.hamburger-button button {
  height: 205px;
  width: 47px;
}

.darkMode-container {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.darkMode-container button[aria-label="theme change to dark"],
.lang-container button[aria-label="language change"],
.hamburger-button {
  border: none;
  color: white;
  cursor: pointer;
}

.page-title {
  font-size: 1.5rem;
  margin-right: 1rem;
  min-width: max-content;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.logo {
  width: 100px;
}
