.header-second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  background-color: rgb(55, 79, 96);
  position: fixed;
  height: 60px;
  transform: translateY(-20px);

  @media only screen and (max-width: 768px) {
    transform: translateY(-5px);
  }
}

.left-container {
  text-align: end;
  width: fit-content;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 14px;
  color: rgb(55, 79, 96);
  margin-right: auto;
}
.nav-contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  height: 100%;
  gap: 1rem;
  padding: 0.75rem;
  scrollbar-width: 2px;
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 1rem;
    border: 3px solid lightgray;
  }
  &::-webkit-scrollbar {
    /* display: none; */
    height: 10px;
    background-color: white;
  }

  div {
    min-width: max-content;
    font-weight: bold;
    font-size: 14px;
  }
  .marked-div,
  #glance {
    background-color: rgb(255, 255, 255);
    padding: 6px 20px;
    border-radius: 20px;
    margin: 0 4px;
    color: black;
  }
}
