.overview-cards {
  .table-container {
    max-height: 200px;
    overflow-y: scroll;
  }

  table {
    width: 600px;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }

  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    cursor: pointer;
  }

  tbody {
    display: block;
    max-height: 160px;
    overflow-y: scroll;
  }

  tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
  }
}
