.overview-cards {
  margin-inline: 2rem;
  .table-container {
    // min-width: 600px;
    // width: 40%;
    max-width: 680px;
    position: relative;
  }
  .table-container {
    direction: ltr;
    max-height: 200px;

    overflow-y: scroll;
    overflow-x: hidden;

    th {
      width: max-content;
      td {
        text-align: center;
      }
    }
  }
  display: flex;
  flex-direction: column;
  table {
    margin-inline: auto;
    width: 100%;
    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      height: 42px;

      th {
        display: flex;
        align-items: start;
        text-align: center;
        // gap: 8px;
      }
      td {
        text-align: start;
        width: 100%;
        // background-color: yellow;
      }
    }
  }
}

#name,
.internal-capacity,
.general-capacity {
  @media screen and (min-width: 1000px) {
    padding-left: 5px;
  }
}

.internal-capacity {
  @media screen and (max-width: 900px) and (min-width: 775px) {
    margin-left: 90px !important;
  }
  @media screen and (max-width: 775px) and (min-width: 650px) {
    margin-left: 70px !important;
  }
}

.general-capacity {
  @media screen and (max-width: 900px) and (min-width: 775px) {
    margin-right: 80px !important;
  }

  @media screen and (max-width: 775px) and (min-width: 650px) {
    margin-right: 20px !important;
  }
}

.table-arrow {
  display: none;
}

.table-arrow-up {
  transform: rotateZ(180deg);
}

.search-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  // bottom: -32px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  * {
    width: 50%;
  }
}

#hospital_select .hospitals,
#country-select .countries,
#settlement-select .settlements,
.graph_select .graphs {
  max-height: 240px;
  overflow-y: scroll;
  background-color: white;

  scrollbar-color: darkgrey white; /* For Firefox */

  /* For WebKit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 8px;
    // border-radius: 50%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

.settlements {
  display: flex;
  flex-direction: column;
  padding-right: 0.25rem;
  align-items: flex-start;
}
.settlements span:hover {
  background: lightgray;
}
.settlements span {
  width: 100%;
  text-align: start;
  cursor: pointer;
}

#hospital_select,
#country-select,
#settlement-select,
.graph_select {
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: black;
  font-weight: normal !important;
  top: 100%;
  right: 0.55rem;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;

  * {
    padding-block: 0.15rem;
  }
}
.graph_select {
  position: absolute;
  z-index: 99;
  top: 52px;
  right: 2rem;

  width: 200px;
}
.option-hospital input[type="checkbox"],
.option-country input[type="checkbox"],
.option-settlement input[type="checkbox"] {
  width: 20px;
  height: 20px;
  display: block;
}
.hide {
  display: none;
}

#search-hospital,
#search-country,
#search-settlement {
  // max-height: 30px;
  // padding: 10px;
  background-color: rgba(128, 128, 128, 0.1);
  width: fit-content;
  display: flex;
  justify-content: center !important;
  min-width: 200px;
  width: fit-content;
  text-align: center;
  z-index: 980;
  height: fit-content;
  margin-right: 1rem;
  margin-block: 1rem;
  padding: 0.5rem;
  position: relative;
  border-radius: 100px;
  border: 1px solid lightgray;
}

#search-settlement .search-controls,
#search-hospital .search-controls {
  width: 190px;
}

#search-country .search-controls {
  width: 200px;
}

.search-button-2,
.search-button,
.search-button-3 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0px !important;
}

.option-hospital,
.option-country,
.option-settlement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px !important;
  padding: 4px;
  // width: 200px;
  // background-color: yellow;
}

.progress {
  width: 40%;
  max-width: 50px;
  height: 10px;
  background-color: rgb(228, 230, 253);
  // margin-block: 0.5rem;
  position: relative;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.progress-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    font-weight: bold;
  }
}

.red {
  background-color: rgb(226, 29, 72);
}

.blue {
  background-color: rgb(0, 123, 255);
}

.table-header {
  background-color: rgb(190, 204, 219); //// impact on 2 tables
  width: 100%;
  height: 50px;
  height: max-content;
  cursor: pointer;

  font-weight: bold;
  th {
    width: 10px;
  }
}
#tableBody tr {
  height: 42px;
  border-top: 0.1px dashed rgba(128, 128, 128, 0.3);
  border-bottom: 0.1px dashed rgba(128, 128, 128, 0.3);
}

#tableBody tr:hover {
  background-color: #f2f2f2;
}

.date-updated {
  display: block;
  font-size: 10px;
  padding: 3px;
  background-color: rgb(190, 204, 219, 0.4);
  width: fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-bottom: 10px;
}

.search-button {
  display: flex;
  align-items: center;
  ::clicked {
    background-color: red;
  }
}

.search-button-clicked {
  img {
    rotate: 180deg;
  }
}

.search-controls {
  width: 90%;
  button {
    background-color: rgb(230, 241, 244);
    // border-radius: 5px;
    font-weight: 500;
    border: transparent;
    padding: 5px;
    height: 30px;
  }
}

.dot-button {
  width: 30px;
  cursor: pointer;
}

.tables {
  background-color: rgb(244, 246, 249);
  border: 3px dashed rgb(128, 128, 128, 0.3);
  border: unset !important;
}
