.table-container {
  overflow-x: hidden;
}

#myTable {
  // width: 100%;
  margin-top: 20px;
}

#tableBody1 td {
  padding-block: 10px;
}
#tableBody1 td,
#header-disease-abroud {
  height: fit-content;
  text-align: center;
}

#header-disease-abroud {
  padding-inline-end: 0;
}
td,
th {
  font-weight: normal !important;
  padding-inline: 0 !important;
  margin-inline: 0 !important;

  td {
    display: flex !important;
    justify-content: center !important;
    text-align: end;
    align-items: center !important;
    width: max-content;
  }
}

#header-disease-abroud td {
  text-align: center !important;
  padding-inline: 0 !important;
  text-align: end;
  width: 100%;
  display: flex;
  span {
    padding-inline: 0 !important;
    text-align: center !important;
    width: fit-content;
    @media only screen and (max-width: 620px) {
      transform: translateX(-1.25rem);
    }
    @media only screen and (min-width: 620px) and (max-width: 900px) {
      transform: translateX(-2rem);
    }
  }
}
#tableBody1 tr,
#header-disease-abroud td {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  align-items: start;
  padding-inline: 0;
  margin-inline: 0;
  // background-color: aqua;
}

.gray {
  background-color: rgb(210, 220, 230) !important;
}

.custom-arrow {
  vertical-align: middle;
}

.areas-colors {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  margin-right: 8px;

  img {
    height: 10px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
