.overview-cards {
  .table-container {
    min-width: 600px;
    width: 60%;
    max-width: 720px;
    position: relative;
  }
  .table-container {
    direction: ltr;
    max-height: 200px;
    overflow-y: scroll;

    th {
      width: max-content;
    }
  }

  table {
    margin-inline: auto;
    width: 100%;
    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;

      th {
        display: flex;
        align-items: start;
        text-align: center;
        gap: 8px;
      }
      td {
        text-align: start;
        width: 100%;
      }
    }
  }
}

.table-arrow {
  opacity: 0;
}

.table-arrow-up {
  transform: rotateZ(180deg);
}

.search-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -32px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  * {
    width: 50%;
  }
}

#hospital_select .hospitals {
  max-height: 200px;
  overflow-y: scroll;
}
#hospital_select {
  flex-direction: column;
  position: absolute;
  width: 100%;
  color: black;
  font-weight: normal !important;
  background: rgb(228, 230, 253);
  top: 100%;
  right: 0.55rem;
  padding-inline: 0.25rem;
  padding-block: 0.25rem;

  * {
    padding-block: 0.15rem;
  }
}
.option-hospital input[type="checkbox"] {
  background-color: red;
  width: 20px;
  height: 20px;
  display: block;
}
.hide {
  display: none;
}

#search-hospital {
  min-width: 50%;
  display: block;
  z-index: 9999;
  margin-left: auto;
  margin-right: 1rem;
  margin-block: 1rem;
  padding: 0.5rem;
  position: relative;
  border-radius: 100px;
  border: 1px solid lightgray;
}
.option-hospital {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress {
  width: 40%;
  max-width: 50px;
  height: 10px;
  background-color: rgb(228, 230, 253);
  margin-block: 0.5rem;
  position: relative;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.progress-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  span {
    font-weight: bold;
  }
}

.red {
  background-color: rgb(226, 29, 72);
}

.blue {
  background-color: rgb(0, 123, 255);
}
